<EditForm Model="Cargue" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />


    <br />
    <!-- Botones -->
    <div class="d-flex justify-content-center gap-3 mt-5">
        <ButtonFormSave />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>
</EditForm>
