<EditForm Model="ContractIDPic" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="container">

        <div class="row mb-2">
            <div class="col-md-6">
                <InputImageIDfront ImageSelected="ImageFrontSelected" ImageUrl="@ImageUrlFront" />
            </div>
            <div class="col-md-6">
                <InputImageIDBack ImageSelected="ImageBackSelected" ImageUrl="@ImageUrlBack" />
            </div>
        </div>
    </div>



    <!-- Botones -->
    <div class="d-flex justify-content-center gap-3 mt-5">
        <ButtonFormSave IsSaving="IsSaving" />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>

</EditForm>
