<EditForm Model="Operation" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-0">
        <div class="input-group">
            <span class="input-group-text" style="width: 150px">
                @Localizer[nameof(Resource.Operacion)]
            </span>
            <InputText class="form-control" @bind-Value="Operation.OperationName" />
        </div>
        <ValidationMessage For="@(() => Operation.OperationName)" />
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" style="width: 150px">
                @Localizer[nameof(Resource.Active)]
            </span>
            <div class="d-flex align-items-center ps-3">
                <InputCheckbox @bind-Value="Operation.Active" class="form-check-input me-2" />
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-center gap-3 mt-5">
        <ButtonFormSave />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>
</EditForm>