.camera-container {
    position: relative;
    width: 100%;
    max-width: 380px; /* límite para que no se deforme */
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f8f8f8;
}
.placeholder-box {
    width: 100%;
    height: 100%;
    border: 2px dashed #bbb;
    border-radius: 6px;
    background-color: #f0f0f0;
}
.camera-layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

    .camera-layer video,
    .camera-layer img {
        object-fit: cover; /* Recorta sin distorsionar */
        width: 100%;
        height: 100%;
    }