<div class="input-group">
    <span class="input-group-text" style="width: 150px">
        @Label
    </span>
    <input type="text"
           class="form-control"
           placeholder="Seleccionar Imagen"
           readonly
           value="@FileName" />
    <label class="input-group-btn">
        <span class="btn btn-dark px-3">
            Search
           <InputFile OnChange="OnChange" class="d-none" accept="image/*"/>
@*             <InputFile OnChange="OnChange" class="d-none" accept="image/*" capture="environment" /> *@
@*             <InputFile OnChange="OnChange" class="d-none" accept=".jpg,.jpeg,.png" /> *@
        </span>
    </label>
</div>

@if (!string.IsNullOrWhiteSpace(GetImageSource()))
{
    <div class="mt-2">
        <img src="@GetImageSource()"
             alt="@Label"
             class="image-preview"
             height="180" />
    </div>
}
