<nav>
    <ul class="pagination">

        @foreach (var link in Links)
        {
            <li @onclick=@(() => InternalSelectedPage(link))
                class="page-item @(link.Active ? "active" : null) @(link.Enable ? null : "disabled") @(link.IsSpecial ? "special" : null)"
                style="cursor: pointer">
                <a class="page-link">@link.Text</a>
            </li>

        }

    </ul>
</nav>

@code {
    [Parameter] public int CurrentPage { get; set; } = 1;
    [Parameter] public int TotalPages { get; set; }
    [Parameter] public int Radio { get; set; } = 5;
    [Parameter] public EventCallback<int> SelectedPage { get; set; }

    List<PageModel> Links = new();

    private async Task InternalSelectedPage(PageModel pageModel)
    {
        if (!pageModel.Enable || pageModel.Page == CurrentPage)
            return;

        await SelectedPage.InvokeAsync(pageModel.Page);
    }

    protected override void OnParametersSet()
    {
        Links = new();

        // PRIMERO
        Links.Add(new PageModel
        {
            Text = "<<",
            Page = 1,
            Enable = CurrentPage > 1,
            IsSpecial = true
        });

        // ANTERIOR
        Links.Add(new PageModel
        {
            Text = "<",
            Page = CurrentPage - 1,
            Enable = CurrentPage > 1,
            IsSpecial = true
        });

        // RANGO DE PAGINAS
        int start = Math.Max(1, CurrentPage - Radio);
        int end = Math.Min(TotalPages, CurrentPage + Radio);

        for (int i = start; i <= end; i++)
        {
            Links.Add(new PageModel
            {
                Page = i,
                Text = i.ToString(),
                Enable = true,
                Active = (i == CurrentPage)
            });
        }

        // SIGUIENTE
        Links.Add(new PageModel
        {
            Text = ">",
            Page = CurrentPage + 1,
            Enable = CurrentPage < TotalPages,
            IsSpecial = true
        });

        // ÚLTIMO
        Links.Add(new PageModel
        {
            Text = ">>",
            Page = TotalPages,
            Enable = CurrentPage < TotalPages,
            IsSpecial = true
        });
    }

    class PageModel
    {
        public string Text { get; set; } = null!;
        public int Page { get; set; }
        public bool Enable { get; set; } = true;
        public bool Active { get; set; } = false;
        public bool IsSpecial { get; set; } = false;

    }
}