<EditForm Model="ContractMac" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    @if (ListMacs is null)
    {
        <Loading />
    }
    else
    {
        <div class="input-group">
            <span class="input-group-text" style="width:150px">@Localizer[nameof(Resource.MAC)]</span>
            <select class="form-select" value="@ContractMac?.CargueDetailId" @onchange="MacsChanged">
                @foreach (var item in ListMacs!)
                {
                    <option value="@item.Value">@item.Name</option>
                }
            </select>
        </div>
    }

    <!-- Botones -->
    <div class="d-flex justify-content-center gap-3 mt-5">
        <ButtonFormSave IsSaving="IsSaving" />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>
</EditForm>
